.mainbox{
    padding: 0px;
    margin: 0px;
    width:100%;
    height:100%;
    position:absolute;
}

h1{
    float:left;
    font-weight: bold;
    margin: 30px 0 0 100px;
}

.menufloat{
    overflow:hidden;
}

nav{
    float: right;
}

ul{
    list-style:none;
}

li{
    display:inline-block;
    font-size: 25px;
    margin-top: 30px;
    margin-right: 50px;
    border: 1px solid white;
}

a{
    display:block;
    font-weight:lighter;
    margin-right:30px;
    color:black;
    text-decoration: none;
    padding: 8px 50px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    color:#333;
}

a:hover{
    border-radius: 50px;
    color:#fff;
    background: #111;
}

.login{
    border-radius: 50px;
    border: 1px solid rgb(126, 126, 126);
    color:rgb(0, 0, 0);
    font-size: 20px;
}

.now{
    border-radius:50px;
    background-color:#111;
    color:#fff;
    font-size: 25px;
}

.photo{
    width:96%;
    height: 250px;
    background-color: rgb(129, 129, 129);
    margin: 40px 30px 0 30px;
    padding-top:30px;
}

.photoinfo{
    color:white;
    text-align: center;
    font-size: 20px;
}

.recommendtitle{
    text-align: center;
    font-weight: bold;
    margin: 40px 0 30px 0;
    font-size: 25px;
}

.location{
    float:left;
    margin-top: 30px;
    margin-right: 30px; 
    margin: 0 auto;
    width:33%;
}

.locationphoto{
    background-color: rgb(129, 129, 129);
    border-radius: 50%;
    width:200px;
    height:200px;
    margin: 0 auto;
}

.locationtitle{
    text-align: center;
    margin-top: 7px;
    font-size: 25px;
}

.locationfloat{
    overflow: hidden;
    position: absolute;
    width:100%;
}