<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>
    <div class="mainbox">
        <h1>WePlace</h1>
        <section class="menufloat">
            <nav>
                <ul>
                    <li><a class="now" href="home.html">Home</a></li>
                    <li><a href="">Map</a></li>
                    <li><a href="review.html">Review</a></li>
                    <li><a class="login" href="">LogIn</a></li>
                </ul>
            </nav>
        </section>
        
        <section class="photo">
            <p class="photoinfo">홈페이지 소개 사진</p>
        </section>

        <section class="locationfloat">
            <p class="recommendtitle">오늘의 추천 장소</p>

            <div class="location">
                <div class="locationphoto"></div>
                <div>
                    <p class="locationtitle">장소 소개</p>
                </div>
            </div>

            <div class="location">
                <div class="locationphoto"></div>
                <div>
                    <p class="locationtitle">장소 소개</p>
                </div>
            </div>

            <div class="location">
                <div class="locationphoto"></div>
                <div>
                    <p class="locationtitle">장소 소개</p>
                </div>
            </div>
        </section>

        
    </div>
    
</body>
</html>